# Composer
/vendor/
composer.lock

# PHPStorm
.idea/

# VSCode
.vscode/

# Logs
*.log

# Cache / Temp
/tmp/
.cache/
.cache-loader/
.phpunit.result.cache

# Docker
docker-compose.override.yml

# OS-specific
.DS_Store
Thumbs.db
