<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Unit Test Configuratoin
 * Author: Santoshchandan.it@gmail.com
*/
-->
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Tasks API">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
